
/* ItemDetailPage.css */
.allPage{
    background-color: var(--secondary);
    color: var(-primary);
  }
  .item-detail {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .item-detail__image {
    display: flex;
    align-items: start;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px; /* Example border radius */
  }
  
  .item-detail h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .item-detail h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .item-detail__price {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
  }
  .item-detail__Collection{
    display: flex;
  }
  
  .item-detail__actions {
    margin-top: 20px;
  }
  
  .item-detail__actions button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
  
  .item-detail__details {
    margin-top: 30px;
  }
  
  .item-detail__details h4 {
    margin-bottom: 10px;
  }
  
  .item-detail__details dl {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 10px;
  }
  
  .item-detail__details dt {
    font-weight: bold;
  }
  
  .item-detail__details dd {
    margin-bottom: 10px;
  }
  
  .item-detail__description {
    margin-top: 30px;
  }
  
  .item-detail__description p {
    line-height: 1.6;
  }
  /* item calender */
.collapsible {
    margin-top: 10px;
    padding: 10px;
  }
  
  .calendar-buttons {
    display: flex;
    gap: 10px;
  }
  
  .calendar-buttons .btn {
    flex: 1;
  }
  
  
   .react-datepicker__navigation--next{
    justify-content:end!important;
    width: 50px!important;
  }
  .react-datepicker__navigation--previous{
    justify-content: flex-start!important;
    width: 50px!important;
  }
  