:root {
    --primary: #C0C0C0;
    --secondary:  #F7E7CE;
    --text-color: #0000;
  }

  .navbar{
    background-color: var(--primary);
    z-index: 1000; /* Ensure the navbar stays on top */
  }
  
/* src/components/Home.css */


*{ 
  overflow: hidden; /* We should to remove it, it's only for testing*/
}
.Home-header {
  height: 100vh; /* Full viewport height */
  width: 100%;
  display: flex;
}



/* src/components/Footer/Footer.css */

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--primary);
  color:#0000
}


footer a {
  color: #fff;
}

footer a:hover {
  color: #ccc;
}
