:root {
    --secondary: #C0C0C0;
    --primary:  #161616;
    --text-color: #fff;
  }

  .navbar{
    background-color: var(--primary);
    z-index: 1000; /* Ensure the navbar stays on top */
  }
  
/* src/components/Home.css */


.Home-header {
  height: 100vh; /* Full viewport height */
  width: 100%;
  display: flex;
  
}

*{
  font-family: Gelion, Helvetica, "Helvetica Neue", Arial;
}


/* src/components/Footer/Footer.css */

footer {
  width: 100%;
  bottom: 0;
  background-color: var(--primary);
  color:var(--text-color);
  position:static;
  
  
}



.icon :hover{
  color: var(--secondary);
}


/*  */
.Home-Background{
  background-color: var(--secondary); /* Dark background */

}
.home-header {
  background-color: var(--secondary); /* Dark background */
  padding: 150px;
  text-align: center;
  color: var(--text-color);
}

.home-header-content {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

.home-header-images {
  flex: 3;
}

.home-header-image {
  max-width: 200px;
}

.home-header-text {
  flex: 2;
  color: var(--primary)
  /* text-align: center; */
}

.home-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.home-search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 400px;
  margin-right: 10px;
}

.home-search-bar button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary); /* Button color */
  color: var(--text-color);
  cursor: pointer;
}

.home-search-bar button:hover {
  color: var(--secondary);
}


.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.custom-button {
  text-decoration: none;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 2px solid ;
  border-radius: 10px;
  background-color: var(--secondary);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.custom-button:hover {
  transform: translateY(-5px);
}

.custom-button img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.custom-button span {
  font-size: 14px;
  color: black;
}

@media (max-width: 768px) {
  .custom-button {
    width: 120px;
    height: 80px;
  }

  .custom-button img {
    width: 30px;
    height: 30px;
  }

  .custom-button span {
    font-size: 12px;
  }
}

/* Item Cards css */

.ItemCard{
  width: 200px;
  height: 300px;
}


.HomeCards{
  min-height: 550px;
  width: 100%;
}

.imageCard{
  height:200px
}




.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}


/* Item Cart css */



.cart {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item div {
  flex-grow: 1;
}

.cart-item button {
  margin: 0 5px;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
}

.cart-total button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
}

.cart-total button:hover {
  background-color: var(--secondary);
}

.removeBtn{
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
}

.removeBtn:hover {
  background-color: var(--secondary);
  margin-right: 1px;
}

.cartPage{
  background-color: var(--secondary);
}
.cart-butn{
  margin-right: 2rem;
}

/* items page  */
.struct-page {
  display: flex;
  background-color: var(--secondary);
}
@media only screen and (max-width: 720px) {
  .struct-page {
    display: flex;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .toggle-button {
  top: 20px;

  }
}
@media only screen and (min-width: 720px) {
 .toggle-button {
  top: 100px;

  }

}

.toggle-button {
  position: absolute;
  right: 20px;
  z-index: 10;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color:transparent;
  border-color: transparent;
  border-color: var(--primary);
  border-radius: 20%;
}
.sidebar-top {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: var(--primary);
  color: var(--secondary);
  transition: transform 0.3s ease-in-out;
}
.sidebar-left {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #ddd;
  background-color: var(--primary);
  color: var(--secondary);
  transition: transform 0.3s ease-in-out;
}


.search-bar {
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.productList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  
}

.filter {
  margin-bottom: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter__item {
  display: flex;
  flex-direction: column;
}

.filter__item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter__item div {
  display: flex;
  flex-direction: column;
}

.filter__item div label {
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.filter__item input[type="radio"] {
  margin-right: 5px;
}

.filter__item input{
  margin-right: 0.5em;
	width: 1.5em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
}
.filter__item input:focus{
  outline: transparent;
}

.filter__item input[type=checkbox], input[type=checkbox]:after {
  transition: all 0.1s linear;
}

.filter__item input[type=checkbox] {
	background: #ffffff;
	border-radius: 0.25em;
	box-shadow: 0 0 0 0.1em #c7cad1 inset;
}

.filter__item input[type=checkbox]:after {
	color: #255ff4;
	content: "\2713";
	display: block;
	font-size: 1.5em;
	line-height: 1;
	text-align: center;
	transform: scale(0);
	transform-origin: 50% 67%;
	width: 100%;
	height: 100%;
}

.filter__item input[type=checkbox]:checked {
	animation: popOutCheckbox  0.5s linear;
}


.filter__item input[type=checkbox]:checked:after {
	transform: scale(1);
	
}
.filter__item input[type=checkbox]:active, input[type=checkbox]:focus {
	background: #e3e4e8;
	box-shadow: 0 0 0 0.1em #5583f6 inset;
}
.filter__item input[type=checkbox]:active:after, input[type=checkbox]:focus:after {
	color: #5583f6;
}


/* item page */


/* ItemDetailPage.css */
.allPage{
  background-color: var(--secondary);
  color: var(--text-color);
}
.item-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.item-detail__image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px; /* Example border radius */
}

.item-detail h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-detail h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.item-detail__price {
  font-size: 20px;
  font-weight: bold;
}

.item-detail__actions {
  margin-top: 20px;
}

.item-detail__actions button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.item-detail__details {
  margin-top: 30px;
}

.item-detail__details h4 {
  margin-bottom: 10px;
}

.item-detail__details dl {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
}

.item-detail__details dt {
  font-weight: bold;
}

.item-detail__details dd {
  margin-bottom: 10px;
}

.item-detail__description {
  margin-top: 30px;
}

.item-detail__description p {
  line-height: 1.6;
}
