:root {
    --secondary: #C0C0C0;
    --primary:  #161616;
    --text-color: #fff;
  }

  .navbar{
    background-color: var(--primary);
    z-index: 1000; /* Ensure the navbar stays on top */
  }
  
/* src/components/Home.css */


.Home-header {
  height: 100vh; /* Full viewport height */
  width: 100%;
  display: flex;
  
}

*{
  font-family: Gelion, Helvetica, "Helvetica Neue", Arial;
}


/* src/components/Footer/Footer.css */

footer {
  width: 100%;
  bottom: 0;
  background-color: var(--primary);
  color:var(--text-color);
  position:static;
  
  
}



.icon :hover{
  color: var(--secondary);
}


/*  */
.Home-Background{
  background-color: var(--secondary); /* Dark background */

}
.home-header {
  background-color: var(--secondary); /* Dark background */
  padding: 150px;
  text-align: center;
  color: var(--text-color);
}

.home-header-content {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

.home-header-images {
  flex: 3;
}

.home-header-image {
  max-width: 200px;
}

.home-header-text {
  flex: 2;
  color: var(--primary)
  /* text-align: center; */
}

.home-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.home-search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 400px;
  margin-right: 10px;
}

.home-search-bar button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary); /* Button color */
  color: var(--text-color);
  cursor: pointer;
}

.home-search-bar button:hover {
  color: var(--secondary);
}


.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.custom-button {
  text-decoration: none;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 2px solid ;
  border-radius: 10px;
  background-color: var(--secondary);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.custom-button:hover {
  transform: translateY(-5px);
}

.custom-button img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.custom-button span {
  font-size: 14px;
  color: black;
}

@media (max-width: 768px) {
  .custom-button {
    width: 120px;
    height: 80px;
  }

  .custom-button img {
    width: 30px;
    height: 30px;
  }

  .custom-button span {
    font-size: 12px;
  }
}

/* Item Cards css */

.ItemCard{
  width: 200px;
  height: 300px;
}


.HomeCards{
  min-height: 550px;
  width: 100%;
}

.imageCard{
  height:200px
}




.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}


/* Item Cart css */



.cart {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item div {
  flex-grow: 1;
}

.cart-item button {
  margin: 0 5px;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
}

.cart-total button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
}

.cart-total button:hover {
  background-color: var(--secondary);
}

.removeBtn{
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
}

.removeBtn:hover {
  background-color: var(--secondary);
  margin-right: 1px;
}

.cartPage{
  background-color: var(--secondary);
}
.cart-butn{
  margin-right: 2rem;
}


/* login */

.LoginForm{
  
}